.card-picker {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 0;
}


.card-picker .card-view:hover {
    transform:  translate(25px, -25px) scale(1.1);
    z-index: 1;
}


