.deck-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.deck-view .card-view {
    height: 100%;
}

.deck-view .card-view {
    width: 200px
}
